pinecone_chat_dave_s/build/lib

pinecone_chat_dave_s/parse_and_embed/**/*
pinecone_chat_dave_s/parse_and_embed/**
pinecone_chat_dave_s/parse_and_embed/**/**/*
pinecone_chat_dave_s/parse_and_embed/*
pinecone_chat_dave_s/parse_and_embed/**/**/**/*